# Add project specific ProGuard rules here.
# By default, the flags in this file are appended to flags specified
# in ${sdk.dir}/tools/proguard/proguard-android.txt
# You can edit the include path and order by changing the ProGuard
# include property in project.properties.
#
# For more details, see
#   http://developer.android.com/guide/developing/tools/proguard.html

# Add any project specific keep options here:

# If your project uses WebView with JS, uncomment the following
# and specify the fully qualified class name to the JavaScript interface
# class:
#-keepclassmembers class fqcn.of.javascript.interface.for.webview {
#   public *;
#}

-keep class * implements android.os.Parcelable {
  public static final android.os.Parcelable$Creator *;
}

# Don't obfuscate classes and class members
-dontobfuscate

# Closer look for what's happening
-verbose

# Let ProGuard try to optimize a bit
-optimizations !code/simplification/arithmetic
-optimizationpasses 5

# Don't verify if classes are targeted at Java Micro Edition or at Java 6 or higher (reduces processing time a bit)
-dontpreverify